.form-check1 {
    margin-right: 20px;

    .radio-gender {
        width: 15px;
        height: 15px;
        transform: translateY(-28%);
    }

    label{
        font-size: 14px;
        font-weight: 700;
        color: #264a9b;
        cursor: pointer;
    }
}