.box-breadcrumb {
  background-color: #efeded;
}
.collection-body {
  display: flex;
  padding: 0 15px;
  margin: 70px 0;

  .box-filter {
    width: 25%;
  }

  .container-products {
    width: 75%;

    .box-products {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }

    .box-pagination {
      margin-top: 50px;
    }
  }

}