.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;

  .logo-page {
    width: 150px;
    object-fit: cover;
    height: 50px;
  }

  .header-search {
    position: relative;

    input {
      outline: none;
      background-color: var(--color-gray);
      border: none;
      text-align: center;
      height: 45px;
      width: 800px;
      border-radius: 50px;
      font-size: 20px;
      color: var(--main-color);
      font-weight: 700;
    }

    .icon-search {
      cursor: pointer;
      position: absolute;
      font-size: 30px;
      right: 15px;
      top: 8px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    font-size: 16px;

    .facebook {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: var(--main-color);
      color: var(--color-white);
      margin-right: 10px;
    }

    .youtube {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: var(--color-red);
      color: var(--color-white);
    }
  }

  .info-cart {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: var(--main-color);

    .user {
      padding-right: 12px;
      color: var(--main-color);

    }

    .cart {
      display: flex;
      align-items: center;
      color: var(--main-color);

      .count-products {
        font-size: 10px;
      }
    }
  }
}