.blog-body {
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;


    .new-blogs {
        width: 25%;
        height: 500px;
        border: 1px solid #ccc;
        padding: 20px;

        .title-box-left {
            font-size: 20px;
            color: var(--main-color);
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 2px solid var(--main-color);
            padding-bottom: 10px;
        }
    }

    .blog-detail {
        flex: 1;
        margin-left: 35px;

        .title-blog {
            color: #264a9b;
            line-height: 1.2;
            font-family: 'Paytone One', sans-serif;
            font-weight: bold;
            margin: 20px 0;
            font-size: 24px;
        }

        .blog-info {
            color: #264a9b;
            line-height: 1.2;
            font-family: 'Open Sans', sans-serif;
            opacity: 0.85;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 13px;
            font-weight: 600;
        }

        .blog-content{
            color: #264a9b;
            line-height: 1.2em;
        }

        .nav-blog {
            .custom-link {
                color: #264a9b;

                span {
                    font-family: 'Paytone One', sans-serif !important;
                    line-height: 1.4;
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            .custom-link:hover {
                color: #f5d709;
            }

            .pre-blog {
                .custom-icon {
                    margin-right: 10px;
                }
            }

            .next-blog {
                .custom-icon {
                    margin-left: 10px;
                }
            }
        }


    }
}